# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
env.bak/
venv.bak/

# Python distribution/packaging
*.egg-info
dist/
build/

# IDE configuration
.vscode

htmlcov/
.coverage
