[Unit]
    Description=easyfuse Docker Volume Plugin socket
    PartOf=easyfuse.service

[Socket]
    ListenStream=/run/docker/plugins/easyfuse.sock

[Install]
    WantedBy=docker.service
